body {
    text-align: center;
    background-image: url(images/subwayblur.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: max-content;
}
button {
    margin: 10px;
    padding: 10px 40px;
    font-size: medium;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: bold;    
}
h1 {
    font-size: 70px;
    color: white;
    text-shadow: 7px 0px 80px black;
    font-weight: bold;
}
h2 {
    font-size: 60px;
    color: white;
    text-shadow: 7px 0px 80px black;
    font-weight: bold;
}
h1 {
    font-size: 70px;
    color: white;
    text-shadow: 7px 0px 80px black;
    font-weight: bold;
}
p {
    font-size: 40px;
    color: white;
    text-shadow: 7px 0px 80px black;
    font-weight: bold;
}
#increment-btn {
    background: darkred;

}
#decrement-btn {
    background: darkgoldenrod;
}
#save-btn {
    background: darkgreen;
}
#reset-btn {
    background: darkblue;
}
#increment-btn:hover {
    border: 1px solid tomato;
}
#decrement-btn:hover {
    border: 1px solid goldenrod;
}
#save-btn:hover {
    border: 1px solid green;
}
#reset-btn:hover {
    border: 1px solid lightskyblue;
}
#credit {
    color: black;
    font-size: 20px;
    text-align: end;
    font-weight: bold;
}
.upper-btn {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}
.lower-btn {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}
